.rates-list {
  display: flex;
  flex-direction: column;
}


.rates-list ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  gap: 1.5rem;
  padding: 0.75rem 1.2rem 0.75rem 1.5rem;

}
  
 .currency-container {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #333;
}

.currency-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0;
}

.currency-value {
  font-weight: bold;
  color: #333;
}

.currency-icon {
  display: flex;
  align-items: center;
  gap: 5px;
}

.currency-icon img {
  width: 20px;
  height: 20px;
}

.rate-item-content {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  width: 32rem;
  padding: 0px 1.5rem;
}

@media (max-width: 520px) {
  .rate-item-content {
    width: 28rem;
  }
}

@media (max-width: 520px) {
  .rate-item-content {
    width: 20rem;
  }
}

.rate-item-content-span{
  font-size: 1.25rem;
  line-height: 1.75rem;
  letter-spacing: -0.0125rem;
  color: rgb(60, 74, 90);
  font-weight: 600;
}

.rate-item-currency {
  font-size: 1.3rem;
  line-height: 1.5rem;
  letter-spacing: -0.0125rem;
  color: rgb(60, 74, 90);
  font-weight: 600;
}

.rate-item-content div{
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  gap: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 1.25rem;
  min-width: 7rem;
}

.rate-item-content div img{
  max-width: 1.5rem;
}

.show-more-button {
  align-self: center;
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  max-width: 150px;
  text-align: center;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.show-more-button:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}

.show-more-button:active {
  background-color: #004494;
  transform: translateY(0);
}