body {
  font-style: normal;
  font-stretch: normal;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
  overflow-wrap: break-word;
}
div {
  display: block;
  unicode-bidi: isolate;
}

.grey-text {
  color: rgb(148, 162, 176);
}

.light-pink-text {
  color: #f18e97;
}
