.currency-options {
  position: absolute;
  top: calc(100% + 0.125rem);
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 8px 16px;
  border-radius: 0.5rem;
  width: 100%;
  max-height: 11rem;
  overflow-y: auto;
  z-index: 1;
}

.currency-options {
  background-color: rgb(255, 255, 255);
  will-change: background-color;
  transition: background-color 0.15s ease-in;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  cursor: pointer;
}

.space {
  display: flex;
  align-items: center;
}